.cart-hide,
.item-size {
    display: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

.center-text {
    text-align: center!important;
}

td,
th {
    display: table-cell;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.basket-top {
    position: absolute;
    top: 17px;
    left: 770px;
    font-size: 100%;
    color: #fff;
    border: 1px solid #a23c3c;
    padding: 2px 0 0 2px;
    cursor: pointer;
    text-align: center;
    background: #a23c3c;
    width: 190px;
    height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.basket-top .bsktimg {
    float: left;
    width: 33px;
}

.basket-top .bsktext {
    text-align: left;
    margin: 5px;
}

.basket-top-hover {
    box-shadow: 0px 0px 20px 0px #5b5b5b;
    -webkit-box-shadow: 0px 0px 20px 0px #5b5b5b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 180px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 10;
    background: #fff;
    display: none;
}

.basket-top-ofomit-zakaz {
    font-size: 80%;
    margin-top: 2px;
    border-bottom: 1px dashed;
}


/* btns ------------------------------------------------*/

.buy_now,
.q-cart-form-but-sumbit {
    font-family: 'agoratr';
    float: left;
    cursor: pointer;
    color: #fff;
    background: #81B51A;
    border-right: 7px solid #628521;
    border-bottom: 7px solid #628521;
    padding: 13px 20px;
    -moz-border-radius: 4px 12px 4px 11px;
    -webkit-border-radius: 4px 12px 4px 11px;
    border-radius: 4px 12px 4px 11px;
    margin-bottom: 20px;
    font-size: 200%;
    width: 35%;
}

.buy_now {
    float: right;
}

.add-to-cart-btn {
    width: 105px;
    padding: 7px 6px;
    color: #DF5555;
    cursor: pointer;
    float: left;
    border: 1px solid #DF5555;
}

.buy_now:hover {
    border-right: 4px solid #628521;
    border-bottom: 4px solid #628521;
    margin: 4px 0px 0 4px;
    margin-bottom: 19px;
}

.add-to-cart-btn-in-catalog {
    width: 105px;
    padding: 7px 6px;
    color: #DF5555;
    cursor: pointer;
    float: left;
    border: 1px solid #DF5555;
}

.add-to-cart-btn-in-catalog:hover {
    color: #fff;
    background: #DF5555;
}
 
.add-to-cart-btn-in-catalog img {
    margin-right: 8px;
}

.q-cart-form-but-sumbit {
    clear: both;
    float: none;
    border-top: none;
    border-left: none;
    margin-top: 12px;
    width: 250px;
    padding: 5px;
    margin-left: 249px;
}

.q-cart-form-but-sumbit:hover {
    border-right: 4px solid #628521;
    margin-left: 249px;
    border-bottom: 4px solid #628521;
    margin-top: 15px;
}

.add-to-cart-btn {
    float: left;
    width: 34%;
    padding: 10px;
    margin-top: 14px;
}

.add-to-cart-btn:hover {
    color: #fff;
    background: #DF5555;
}

.add-to-cart-btn img {
    width: 30px;
    margin: -5px 2px -8px 0px;
}


/* modal ------------------------------------------------*/

.modal {
    background: url(../img/px.png);
    display: none;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-dialog {
    position: relative;
    background: #fff;
    width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 20px;
    z-index: 10000;
}

button.close {
    color: #f00;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.modal-open {
    overflow: hidden;
}

.q-cart-form {
    margin: 30px 0 0 30px;
}

#window-basket h4 {
    font-size: 150%;
    font-weight: bold;
}

.q-cart-form input {
    border-top: 2px solid #CFCFCF;
    border-left: 2px solid #CFCFCF;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: #F5F5F5;
    padding: 20px 15px;
    width: 350px;
    margin-bottom: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: 'agoratw';
    font-size: 1.3rem;
}

.basket_row > table {
    width: 100%;
}

.basket_row tr th {
    color: #AFB6B7;
    border-bottom: 1px solid #F5F6F8;
    letter-spacing: 1px;
    height: 50px;
    text-align: left;
    vertical-align: middle;
}

.basket_row tr > td {
    border-bottom: 1px solid #F5F6F8;
}

.no-border > td {
    border-bottom: 0px solid #fff!important;
    display: none;
}

.no-border h4,
.no-border .cart-total-price {
    font-weight: bold;
}

.cart-total-price {
    font-size: 2rem;
}

.basket-tr-img {
    text-align: center;
}

.basket-tr-img img {
    height: 90px;
    cursor: pointer;
    margin: 7px;
}

.q-cart-form label {
    font-size: 80%;
    font-family: 'tahoma';
    font-weight: normal;
    cursor: pointer;
    margin: 8px 0px;
    display: block;
}

.q-cart-form label strong {
    font-weight: bold;
}

._100 {
    width: 100px;
}

._120 {
    width: 120px;
}

._200 {
    width: 200px;
}

._270 {
    width: 270px;
}

._300 {
    width: 300px;
}

.crt-itog {
    font-size: 2rem;
    width: 300px;
}

.pndbtm20 {
    padding-top: 20px;
}

.cart-min,
.cart-plus {
    font-size: 150%;
    cursor: pointer;
    font-weight: bold;
}

.count {
    width: 16px;
    margin: 0 5px;
    border: 1px solid #e9e9e9;
    padding: 6px 8px;
}

.basc-item-size-select {
    margin: 10px 0px 12px 0px;
    padding: 5px;
    border: 1px solid #e9e9e9;
}

.cart_del_item > img {
    width: 15px;
    cursor: pointer;
}


/*########################################################*/

._row {
    width: 860px;
    overflow: hidden;
}

._side-l {
    float: left;
    width: 48%
}

._side-r {
    float: left;
    width: 50%
}

._side-r > table {
    margin-top: 7px;
}

._side-r > table input {
    width: auto;
}

._side-r > table tr td {
    height: 64px;
    vertical-align: middle;
}

.clear {
    clear: both;
}

#cart-comment {
    width: 89%;
}

.cart-table-last {
    width: 100%;
}

.add_inf {
    display: none;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 379px;
    height: 150px;
    background: #fff;
    z-index: 7000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px
}

.add_inf strong {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    font-size: 1.3rem;
}

.add_inf strong span {
    text-decoration: underline;
    color: #36AFDC;
}

.add_inf img {
    height: 140px;
    margin-right: 20px;
    float: left;
}

.add_inf > div {
    margin: 20px 0;
}

.triangle {
    display: none;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7001;
}